@use '../abstract/colors';
@use '../abstract/mixins';
form {
  display: flex;
  flex-direction: column;
  input,
  textarea,
  button {
    padding: 10px;
    margin: 10px;
  }
}

.button-submit {
  margin-left: auto;
  padding: 10px 20px;
  background-image: colors.$main-gradient;
  @include mixins.reset-link;
  border: none;
  font-weight: 700;
  &:active{
    color: colors.$active-button-text;
  }
}

.contact {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}
.contact-info {
  grid-column: 1;
}
.contact-form {
  grid-column: 3;
}
