.main {
  grid-column: 2 / 3;
  grid-row: 2;
  animation-duration: 1s;
  animation-name: mount;
}
@keyframes mount {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
h1 {
  font-weight: 700;
}
