.main {
  grid-column: 2 / 3;
  grid-row: 2;
  animation-duration: 1s;
  animation-name: mount;
}

@keyframes mount {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.view-header {
  font-weight: 700;
  height: 1em;
}
