.particle {
  position: absolute;
  color: white;
  z-index: -10;
}
.particle::after {
  content: "\d7";
}

@for $i from 1 through 60 {
  @keyframes particle-animation-#{$i} {
    100% {
      transform: translate3d(
          (random(90) * 1vw),
          (random(90) * 1vh),
          (random(100) * 1px)
        )
        rotate(random(90) * 1deg);
    }
  }

  .particle:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 60s infinite;
    $size: random(5) + 5 + px;
    opacity: random(100) / 100;
    height: $size;
    width: $size;
    animation-delay: -$i * 0.2s;
    transform: translate3d(
      (random(90) * 1vw),
      (random(90) * 1vh),
      (random(100) * 1px)
    );
  }
}
