@use "../abstract/colors" as *;
.technologies {
  column-gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: stretch;
  row-gap: 15px;
  @media only screen and (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 5);
  }
}
.technology {
  align-items: center;
  background-size: cover;
  background: $bg-color;
  border-radius: 5px;
  border: 2px solid $bg-color-secondary;
  box-sizing: content-box;
  justify-self: stretch;
  padding: 5px;

  &:hover {
    background-image: $main-gradient;

    .progress-bar {
      border: white;
    }
    .progress {
      background: white;
    }
  }
}
.technology-name {
  i {
    margin-right: 10px;
  }
}
.progress-bar {
  border-radius: 5px;
  border: 1px solid $bg-color-secondary;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}
.progress {
  animation-fill-mode: both;
  animation: progress 1.5s;
  background-image: $main-gradient;
  display: block;
  height: 1em;
  left: 0;
  position: relative;
  transform-origin: 0 0;
}
@keyframes progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(100%);
  }
}
