@use '../abstract/colors' as *;
.technology {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.technology-name {
  margin-right: 10px;
  width: 15%;
  min-width: 100px;
}
.progress-bar {
  width: 85%;
  border: 1px solid #fff;
  border-radius: 5px;
}
.progress {
  display: block;
  position: relative;
  left: 0;
  animation: progress 1.5s;
  background-image: $main-gradient;
  animation-fill-mode: both;
  transform-origin: 0 0;
  height: 1em;
}

@keyframes progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(100%);
  }
}
