@use "colors";
@mixin reset-link {
  text: {
    decoration: none;
    transform: uppercase;
  }
  color: colors.$text-color;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
