@use "components";
@use "abstract";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  background-color: abstract.$bg-color;
  color: #eee;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 5fr;
}

::selection {
  background: #333;
}
